In [1]:
import pandas

In [8]:
import numpy

In [2]:
df=pandas.read_csv('../data/avocado.csv')

In [3]:
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [4]:
df = df.drop('Unnamed: 0', axis=1)

In [7]:
pandas.pivot_table(df, values=['AveragePrice','Total Volume'], index=['Date', 'region'],
                   columns=['type'])

                               AveragePrice         Total Volume
type                           conventional organic conventional     organic
Date       region
2015-01-04 Albany                      1.22    1.79     40873.28     1373.95
           Atlanta                     1.00    1.76    435021.49     3846.69
           BaltimoreWashington         1.08    1.29    788025.06    19137.28
           Boise                       1.01    1.64     80034.32     1505.12
           Boston                      1.02    1.83    491738.00     2192.13
           BuffaloRochester            1.40    1.73    116253.44      379.82
           California                  0.93    1.24   5777334.90   142349.77
           Charlotte                   1.19    2.13    166006.29     2965.62
           Chicago                     1.11    1.49    783068.03    17723.17
           CincinnatiDayton            0.88    1.34    228569.58     8764.33
           Columbus                    0.89    1.44    158638.04     3930.94
           DallasFtWorth               0.74    1.35   1086363.97     9895.96
           Denver                      0.99    1.42    668086.00    22480.07
           Detroit                     1.01    1.70    369694.27     7446.43
           GrandRapids                 0.95    1.60    258979.63     1012.61
           GreatLakes                  1.02    1.54   3382800.12    61615.10
           HarrisburgScranton          1.05    1.68    203939.14     2896.72
           HartfordSpringfield         1.06    2.32    332208.14     4801.10
           Houston                     0.71    1.22   1062990.62     8938.32
           Indianapolis                1.02    1.63    160130.15     1780.60
           Jacksonville                0.97    1.81    153506.84     1381.31
           LasVegas                    0.80    1.50    317861.35     6329.83
           LosAngeles                  0.85    1.25   2682159.95    54495.54
           Louisville                  0.92    1.48    101162.98     1395.75
           MiamiFtLauderdale           0.97    1.82    540234.22     2288.44
           Midsouth                    1.10    1.56   2578275.12    58065.35
           Nashville                   1.00    1.84    162162.75     3966.00
           NewOrleansMobile            0.94    1.41    222751.51     2604.25
           NewYork                     1.09    1.93   1402890.20    17328.24
           Northeast                   1.09    1.88   3759282.62    48280.46
...                                     ...     ...          ...         ...
2018-03-25 MiamiFtLauderdale           1.37    1.34    698961.15     8620.15
           Midsouth                    1.14    1.55   3911075.35   181040.19
           Nashville                   0.95    1.48    306280.52     7250.69
           NewOrleansMobile            1.04    1.36    305105.53     8024.70
           NewYork                     1.34    1.86   1774776.77   118503.55
           Northeast                   1.35    1.58   5134637.05   374859.68
           NorthernNewEngland          1.46    1.63    483124.53    22596.13
           Orlando                     1.32    1.45    429132.50    11040.51
           Philadelphia                1.31    1.49    503277.65    37893.50
           PhoenixTucson               0.59    1.52   1684537.69    15372.80
           Pittsburgh                  1.28    1.38    132097.87    16411.89
           Plains                      1.08    1.54   2298609.62    74180.36
           Portland                    1.06    1.66    658169.39    31275.39
           RaleighGreensboro           1.24    2.02    362959.17    13379.77
           RichmondNorfolk             1.10    1.42    316217.11    17340.49
           Roanoke                     0.99    1.60    218058.00     9097.89
           Sacramento                  1.13    1.63    570446.95     9608.95
           SanDiego                    1.10    1.75    488321.93    19086.94
           SanFrancisco                1.01    1.64   1203274.11    34687.20
           Seattle                     1.40    1.48    524265.69    96048.46
           SouthCarolina               1.19    1.38    450658.34    16025.20
           SouthCentral                0.70    1.42   9010588.32   163496.70
           Southeast                   1.23    1.45   4454904.40   121917.39
           Spokane                     1.15    1.59     99982.71     5750.56
           StLouis                     1.25    1.82    165209.29     8210.37
           Syracuse                    1.38    1.04     93961.48    14503.47
           Tampa                       1.33    1.41    469300.74    10028.49
           TotalUS                     1.03    1.55  43409835.75  1559967.20
           West                        0.93    1.60   7667064.46   271723.08
           WestTexNewMexico            0.84    1.62    965185.06    15303.40

[9126 rows x 4 columns]

In [12]:
pandas.pivot_table(df, values=['AveragePrice','Total Volume'], index=[ 'region'],
                   columns=['type'],  aggfunc={'AveragePrice': numpy.mean,
                                               'Total Volume': numpy.mean})

                    AveragePrice            Total Volume
type                conventional   organic  conventional        organic
region
Albany                  1.348757  1.773314  9.290303e+04    2172.713018
Atlanta                 1.068817  1.607101  5.127893e+05   11501.345266
BaltimoreWashington     1.344201  1.724260  7.736425e+05   23481.324793
Boise                   1.076036  1.620237  8.284343e+04    2441.699704
Boston                  1.304379  1.757396  5.615411e+05   14044.654970
BuffaloRochester        1.382308  1.651361  1.304096e+05    5462.992722
California              1.105444  1.685207  5.938443e+06  150205.988817
Charlotte               1.275089  1.936982  2.033306e+05    7057.222840
Chicago                 1.369349  1.744201  7.598162e+05   31321.856509
CincinnatiDayton        1.015503  1.402899  2.478349e+05   15608.931598
Columbus                1.066272  1.439290  1.692676e+05    8207.950769
DallasFtWorth           0.846450  1.324734  1.212485e+06   20765.417337
Denver                  1.073964  1.363195  7.859195e+05   35988.986213
Detroit                 1.123964  1.428225  3.594500e+05   15830.590178
GrandRapids             1.325030  1.684970  1.753727e+05    3394.935680
GreatLakes              1.181893  1.495207  3.358390e+06  130619.451420
HarrisburgScranton      1.258817  1.767751  2.385209e+05    8868.763550
HartfordSpringfield     1.408047  2.229231  2.903031e+05    9522.564379
Houston                 0.825089  1.270769  1.178716e+06   23461.171361
Indianapolis            1.144852  1.483136  1.742753e+05    4798.041420
Jacksonville            1.193609  1.828284  1.672546e+05    3100.421243
LasVegas                1.012959  1.748876  3.122086e+05    9548.231006
LosAngeles              0.976450  1.455562  2.926096e+06   79208.728698
Louisville              1.105325  1.468047  9.233624e+04    2912.291006
MiamiFtLauderdale       1.254320  1.602663  5.740290e+05    3919.084438
Midsouth                1.207160  1.602367  2.901591e+06  106393.141302
Nashville               1.012899  1.411302  2.026236e+05    8098.797278
NewOrleansMobile        1.085266  1.524320  2.666715e+05    3713.877160
NewYork                 1.402130  2.053018  1.371264e+06   53198.647337
Northeast               1.344438  1.859408  4.077247e+06  143349.681006
NorthernNewEngland      1.260237  1.694556  4.103010e+05   12970.592485
Orlando                 1.214438  1.797988  3.418701e+05    5234.628580
Philadelphia            1.396331  1.867929  4.111225e+05   13959.191598
PhoenixTucson           0.728225  1.720651  1.145561e+06   12091.784320
Pittsburgh              1.250651  1.477988  1.055142e+05    5765.922426
Plains                  1.165503  1.707515  1.792383e+06   48969.664260
Portland                1.046509  1.588935  6.215455e+05   32609.549704
RaleighGreensboro       1.227101  1.883136  2.758484e+05    9374.890888
RichmondNorfolk         1.119822  1.462840  2.407399e+05    9146.791065
Roanoke                 1.096036  1.399822  1.399571e+05    8220.470769
Sacramento              1.273964  1.969172  4.367613e+05    7994.574793
SanDiego                1.061479  1.734852  5.171365e+05   14176.676331
SanFrancisco            1.397160  2.211243  7.813270e+05   22401.986331
Seattle                 1.169763  1.715385  6.026666e+05   43571.093432
SouthCarolina           1.146213  1.660355  3.505827e+05    8907.059112
SouthCentral            0.869408  1.333077  5.876693e+06  107209.847751
Southeast               1.163018  1.633018  3.581058e+06   59406.247929
Spokane                 1.115976  1.775207  8.862029e+04    3481.928935
StLouis                 1.185740  1.675503  1.833987e+05    6381.406686
Syracuse                1.386923  1.653728  6.208280e+04    2666.716213
Tampa                   1.201598  1.616095  3.863211e+05    4238.266568
TotalUS                 1.092012  1.546036  3.373504e+07  967565.653491
West                    0.985089  1.559349  6.209234e+06  221411.634379
WestTexNewMexico        0.842130  1.688855  8.401582e+05   15271.713193

### average price and total sale volume for each year

In [30]:
pandas.pivot_table(df, values=['AveragePrice','Total Volume'], 
                   columns= 'type',
                   index=['region', 'year'],
                   aggfunc={'AveragePrice': numpy.mean,
                            'Total Volume': numpy.sum})

                         AveragePrice            Total Volume
type                     conventional   organic  conventional      organic
region              year
Albany              2015     1.171923  1.905577  3.962854e+06     67042.25
                    2016     1.345769  1.722115  5.171564e+06     92771.53
                    2017     1.526415  1.749245  5.076263e+06    155318.99
                    2018     1.343333  1.528333  1.489930e+06     52055.73
Atlanta             2015     1.052308  1.708846  2.289802e+07    333683.03
                    2016     0.972885  1.455385  2.775481e+07    572068.85
                    2017     1.192453  1.665094  2.797313e+07    841993.33
                    2018     1.010000  1.567500  8.035440e+06    195982.14
BaltimoreWashington 2015     1.168077  1.569615  3.994336e+07    702222.10
                    2016     1.356538  1.818654  3.994278e+07    951026.60
                    2017     1.514717  1.844151  3.931254e+07   1703091.76
                    2018     1.300833  1.455833  1.154690e+07    612003.43
Boise               2015     1.054038  1.693462  3.686059e+06     98298.19
                    2016     0.878269  1.405577  4.517343e+06    136166.25
                    2017     1.268113  1.717170  4.614182e+06    146378.96
                    2018     1.180000  1.805000  1.182956e+06     31803.85
Boston              2015     1.144038  1.803077  2.723659e+07    218399.81
                    2016     1.263077  1.589231  2.996131e+07    610001.39
                    2017     1.495283  1.863774  2.942345e+07   1187221.17
                    2018     1.335000  1.818333  8.279082e+06    357924.32
BuffaloRochester    2015     1.403462  1.685769  5.742222e+06    151012.85
                    2016     1.330192  1.637500  6.986661e+06    218451.39
                    2017     1.443396  1.732075  7.350424e+06    389881.59
                    2018     1.246667  1.205833  1.959918e+06    163899.94
California          2015     1.020385  1.611346  2.954379e+08   5969559.80
                    2016     1.046154  1.613654  3.174880e+08   8700337.95
                    2017     1.253019  1.814717  3.092274e+08   8417151.48
                    2018     1.079167  1.743333  8.144355e+07   2297762.88
Charlotte           2015     1.148462  2.003077  9.290932e+06    196411.72
                    2016     1.255962  1.739808  1.024480e+07    341918.93
...                               ...       ...           ...          ...
Southeast           2017     1.334151  1.690189  1.926398e+08   4097434.80
                    2018     1.146667  1.459167  5.896866e+07   1315807.28
Spokane             2015     1.095385  1.705385  4.006952e+06    174735.54
                    2016     1.027500  1.639615  4.848866e+06    157300.99
                    2017     1.211509  1.997547  4.951921e+06    199606.88
                    2018     1.166667  1.683333  1.169091e+06     56802.58
StLouis             2015     1.203269  1.803462  9.696863e+06    205712.51
                    2016     0.993654  1.377308  1.024006e+07    404413.04
                    2017     1.357358  1.826226  8.611733e+06    376389.22
                    2018     1.184167  1.747500  2.445717e+06     91942.96
Syracuse            2015     1.336346  1.721731  2.662173e+06     72160.06
                    2016     1.372115  1.634808  3.320257e+06    109111.47
                    2017     1.480189  1.698679  3.530832e+06    201145.78
                    2018     1.258333  1.242500  9.787299e+05     68257.73
Tampa               2015     1.086731  1.626538  1.703063e+07    100971.18
                    2016     1.098269  1.430769  2.143563e+07    245124.09
                    2017     1.413962  1.824717  2.028096e+07    269180.39
                    2018     1.209167  1.452500  6.541064e+06    100991.39
TotalUS             2015     1.012500  1.502308  1.623686e+09  33569305.49
                    2016     1.046731  1.480385  1.770259e+09  48899753.79
                    2017     1.221698  1.651509  1.801770e+09  62923682.17
                    2018     1.060000  1.554167  5.055064e+08  18125853.99
West                2015     0.940000  1.535577  2.940763e+08  10594013.97
                    2016     0.915769  1.445962  3.330544e+08  11522956.86
                    2017     1.098302  1.681698  3.328126e+08  12241845.79
                    2018     0.980833  1.613333  8.941734e+07   3059749.59
WestTexNewMexico    2015     0.771538  1.756667  4.105375e+07    470250.99
                    2016     0.846538  1.646731  4.286286e+07    944571.55
                    2017     0.903585  1.674314  4.647046e+07    919131.39
                    2018     0.857500  1.645000  1.159967e+07    201150.46

[216 rows x 4 columns]

In [31]:
TotalUS = df[df['region'] == 'TotalUS']

In [32]:
pandas.pivot_table(TotalUS, values=['AveragePrice','Total Volume'], 
                   columns= 'type',
                   index=['region', 'year'],
                   aggfunc={'AveragePrice': [min,max],
                            'Total Volume': numpy.sum})

             AveragePrice                               Total Volume  \
                      max                  min                   sum
type         conventional organic conventional organic  conventional
region  year
TotalUS 2015         1.09    1.80         0.89    1.00  1.623686e+09
        2016         1.44    1.93         0.76    1.25  1.770259e+09
        2017         1.65    2.09         0.77    1.16  1.801770e+09
        2018         1.20    1.63         0.87    1.51  5.055064e+08



type              organic
region  year
TotalUS 2015  33569305.49
        2016  48899753.79
        2017  62923682.17
        2018  18125853.99